html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Helvetica Neue", Helvetica, "PingFang TC", "STHeitiTC", "Microsoft JhengHei", Arial, sans-serif;
}

.section {
    padding: 3.2rem 2.0rem;
}

@media (min-width: 1200px) {
    html {
        font-size: 75%;
    }
}

/* 動畫 */
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide-in-bottom {
    from { transform: translateY(50%); }
    to { transform: translateY(0); }
}

@keyframes slide-in-left {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
}

@keyframes slide-in-right {
    from { transform: translateX(50%); }
    to { transform: translateX(0); }
}

.to-be-faded-in {
    opacity: 0;
}

.fade-in {
    animation: 600ms fade-in;
}

.slide-in-bottom {
    animation-name: fade-in, slide-in-bottom;
    animation-duration: 300ms, 800ms;
}

.slide-in-left {
    animation-name: fade-in, slide-in-left;
    animation-duration: 300ms, 600ms;
}

.slide-in-right {
    animation-name: fade-in, slide-in-right;
    animation-duration: 300ms, 600ms;
}


/* 第一頁 */
.front-page {
    background-color: rgb(74, 129, 229);
    padding-top: 0;
    padding-bottom: 0;
}

.front-page__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.front-page__headings {
    margin-bottom: 3.2rem;
}

.front-page__logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4.0;
}

.front-page__logo-icon {
    display: none;
    max-width: 2.2rem;
    margin-right: 0.8rem;
}

.front-page__logo-text {
    font-size: 2.4rem;
    font-family: "Comfortaa";
    text-transform: lowercase;
}

.front-page__slogans {
    color: white;
    text-align: center;
}

.front-page__slogan {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
}

.front-page__subslogan {
    font-size: 1.8rem;
    font-weight: 300;
}

.front-page__input {
    display: block;
    width: 100%;
    max-width: 30.0rem;
    padding: 1.4rem 0.8rem;
    margin: 0 auto 1.2rem auto;
    text-align: center;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(196, 205, 213);
}

.front-page__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 30.0rem;
    padding: 1.4rem 0;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    background-color: rgb(64, 69, 99);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.front-page__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
}

.front-page__no-email-wrapper {
    text-align: center;
}

.front-page__no-email {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2.0;
    color: white;
    padding: 0.8rem 1.2rem;
    text-decoration: underline;
}

.front-page__image-wrapper {
    text-align: center;
    height: 24rem;
    overflow: hidden;
}

.front-page__image {
    width: 21.6rem;
}

@media (max-width: 834px) and (min-height: 834px) {
    .front-page__container {
        min-height: unset;
    }
}

@media (min-width: 834px) {
    .front-page {
        padding: 0;
    }

    .front-page__container {
        max-width: 72.0rem;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
    }

    .front-page__form {
        flex-grow: 1;
    }

    .front-page__image-wrapper {
        height: auto;
        margin-top: 4.0rem;
    }

    .front-page__image {
        width: 34.0rem;
    }
}


/* 第二頁 */
.advantage__post {
    padding: 1.6rem 3.2rem;
    text-align: center;
    max-width: 30.0rem;
    margin: 0 auto;
    margin-bottom: 2.0rem;
    border-radius: 20px;
}

.advantage__icon {
    font-size: 3.2rem;
    margin-bottom: 2.0rem;
    color: rgb(196, 207, 218);
}

.advantage__title {
    font-size: 2.0rem;
    line-height: 2.4;
    color: rgb(20, 20, 20);
}

.advantage__content {
    font-size: 1.8rem;
    text-align: justify;
    color: rgb(108, 108, 108);
    line-height: 1.7;
}

.advantage__post:hover {
    box-shadow: 0px 20px 40px rgb(221, 231, 238);
}

.advantage__post:hover > .advantage__icon,
.advantage__post:hover > .advantage__title {
    color: rgb(28, 128, 223);
}

@media (min-width: 834px) {
    .advantage {
        padding: 0;
    }

    .advantage__container {
        max-width: 85.3rem;
        margin: 0 auto;
        padding: 8.0rem 2.0rem;
        display: flex;
        justify-content: space-evenly;
    }

    .advantage__post {
        margin: 0;
        padding: 3.2rem 3.2rem 3.6rem 3.2rem;
        max-width: 25.0rem;
    }
}


/* 第三頁 */
.stats {
    background-color: rgb(246, 246, 248);
    padding-top: 12.0rem;
    padding-bottom: 12.0rem;
}

.stats__container {
    max-width: 30.0rem;
    margin: 0 auto;
}

.stats__image-wrapper {
    text-align: center;
    margin-bottom: 6.0rem;
}

.stats__image {
    background-color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgb(206, 218, 228);
}

.stats__icon-wrapper {
    color: rgb(28, 128, 223);
    display: none;
    font-size: 3.2rem;
    margin-bottom: 2.0rem;
}

.stats__title {
    font-size: 2.0rem;
    line-height: 2.4;
    color: rgb(20, 20, 20);
    text-align: center;
}

.stats__content {
    font-size: 1.8rem;
    text-align: justify;
    color: rgb(108, 108, 108);
    line-height: 1.7;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
}

@media (min-width: 834px) {
    .stats {
        padding: 0;
    }

    .stats__container {
        max-width: 75.0rem;
        margin: 0 auto;
        padding: 16.0rem 6.0rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .stats__image-wrapper {
        margin: 0;
    }

    .stats__image {
        width: 28.0rem;
    }

    .stats__icon-wrapper {
        width: 6.4rem;
        height: 6.4rem;
        margin: 0 auto;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 20px 40px rgb(206, 218, 228);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stats__post {
        max-width: 25.0rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .stats__content {
        padding: 0;
    }
}


/* 第四頁 */
.qr-scanning {
    color: white;
    background-color: rgb(60, 155, 230);
    background-color: rgb(74, 129, 229);
    padding-top: 12.0rem;
    padding-bottom: 12.0rem;
}

.qr-scanning__container {
    max-width: 30.0rem;
    margin: 0 auto;
}

.qr-scanning__icon-wrapper {
    color: rgb(28, 128, 223);
    display: none;
    font-size: 3.2rem;
    margin-bottom: 2.0rem;
}

.qr-scanning__image-wrapper {
    text-align: center;
    margin-bottom: 6.0rem;
}

.qr-scanning__image {
    width: 16.0rem;
    padding: 0.8rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgb(18, 118, 213);
}

.qr-scanning__title {
    font-size: 2.0rem;
    line-height: 2.4;
    text-align: center;
}

.qr-scanning__content {
    font-size: 1.8rem;
    text-align: justify;
    line-height: 1.7;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
    color: rgb(237, 237, 237);
}

@media (min-width: 834px) {
    .qr-scanning {
        padding: 0;
    }

    .qr-scanning__container {
        max-width: 75.0rem;
        margin: 0 auto;
        padding: 16.0rem 7.6rem 16.0rem 10.8rem;
        display: flex;
        justify-content: space-between;
    }

    .qr-scanning__image-wrapper {
        margin: 0;
    }

    .qr-scanning__icon-wrapper {
        width: 6.4rem;
        height: 6.4rem;
        margin: 0 auto 1.6rem auto;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 20px 40px rgb(18, 118, 213);
    }

    .qr-scanning__post {
        max-width: 25.0rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .qr-scanning__content {
        padding: 0;
    }
}


/* 第五頁 */
.suggestion {
    background-color: rgb(246, 246, 248);
    padding-top: 12.0rem;
    padding-bottom: 12.0rem;
}

.suggestion__container {
    max-width: 30.0rem;
    margin: 0 auto;
}

.suggestion__image-wrapper {
    text-align: center;
    margin-bottom: 6.0rem;
}

.suggestion__image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgb(206, 218, 228);
}

.suggestion__icon-wrapper {
    color: rgb(28, 128, 223);
    display: none;
    font-size: 3.2rem;
    margin-bottom: 2.0rem;
}

.suggestion__title {
    font-size: 2.0rem;
    line-height: 2.4;
    color: rgb(20, 20, 20);
    text-align: center;
}

.suggestion__content {
    font-size: 1.8rem;
    text-align: justify;
    color: rgb(108, 108, 108);
    line-height: 1.7;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
}

@media (min-width: 834px) {
    .suggestion {
        padding: 0;
    }

    .suggestion__container {
        max-width: 75.0rem;
        margin: 0 auto;
        padding: 16.0rem 6.0rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .suggestion__image-wrapper {
        margin: 0;
    }

    .suggestion__image {
        width: 28.0rem;
    }

    .suggestion__icon-wrapper {
        width: 6.4rem;
        height: 6.4rem;
        margin: 0 auto;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 20px 40px rgb(206, 218, 228);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .suggestion__post {
        max-width: 25.0rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .suggestion__content {
        padding: 0;
    }
}


/* 第六頁 */
.feedback__heading {
    color: rgb(28, 128, 223);
    font-size: 2.0rem;
    line-height: 3.6;
    text-align: center;
}

.feedback__post {
    max-width: 30.0rem;
    margin: 0 auto;
    padding: 2.0rem 3.2rem 2.6rem 3.2rem;
    border-radius: 20px;
}

.feedback__open-quote-wrapper {
    line-height: 2.8;
}

.feedback__open-quote {
    font-size: 2.0rem;
    color: rgb(108, 108, 108);
    position: relative;
    left: -0.9rem;
    transform: scale(-1, -1); /* 水平垂直翻轉 */
}

.feedback__content {
    font-size: 1.8rem;
    line-height: 1.4;
    color: rgb(20, 20, 20);
    text-align: justify;
}

.feedback__end-quote-wrapper {
    text-align: right;
    line-height: 2.8;
}

.feedback__end-quote {
    color: rgb(108, 108, 108);
    font-size: 2.0rem;
    position: relative;
    right: -0.9rem;
}

.feedback__user {
    text-align: right;
    color: rgb(108, 108, 108);
    line-height: 1.6;
}

.feedback__user::before {
    content: '──';
}

.feedback__post:hover {
    box-shadow: 0px 20px 40px rgb(221, 231, 238);
}

.feedback__post:hover > .feedback__content {
    color: rgb(28, 128, 223);
}

@media (min-width: 834px) {
    .feedback {
        padding: 8.0rem 2.0rem;
    }

    .feedback__container {
        max-width: 85.3rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }

    .feedback__post {
        margin: 0;
        padding: 2.4rem 4.8rem 3.2rem 4.8rem;
        max-width: unset;
        display: inline-flex;
        flex-direction: column;
    }

    .feedback__open-quote {
        left: -2.4rem;
    }

    .feedback__content {
        max-width: 15.0rem;
    }

    .feedback__end-quote {
        right: -2.4rem;
    }

    .feedback__user {
        margin-top: auto;
    }
}


/* 第七頁 */
.contact {
    color: white;
    background-color: rgb(60, 155, 230);
    background-color: rgb(74, 129, 229);
    padding-top: 8.0rem;
    padding-bottom: 12.0rem;
}

.contact__heading {
    font-size: 2.4rem;
    line-height: 3.6;
    text-align: center;
}

.contact__form {
    max-width: 30.0rem;
    margin: 0 auto;
}

.contact__input-container {
    background: white;
    border-radius: 10px;
    margin-bottom: 4.0rem;
    overflow: hidden;
    box-shadow: 0px 20px 40px rgba(48, 55, 62, 0.25);
}

.contact__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(226, 226, 237);
    padding: 1.6rem;
    border-radius: 0;
}

.contact__textarea {
    display: block;
    width: 100%;
    height: 12.0rem;
    border: 0;
    padding: 1.6rem;
}

.contact__textarea::placeholder {
    text-indent: -0.2rem;
}

.contact__submit {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1.4rem 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(64, 69, 99);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: 834px) {
    .contact__form {
        max-width: 48.0rem;
    }

    .contact__textarea {
        height: 24.0rem;
    }
}


/* Footer */
.up-arrow-wrapper {
    position: fixed;
    right: 1.2rem;
    bottom: 1.2rem;
    background-color: rgba(74, 129, 229, 0.6);
    width: 46px;
    height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.up-arrow {
    color: white;
    font-size: 3.2rem;
}
